.section {
  background-color: rgba(255, 255, 255, 0.6);
}

.textcard-inner {
  margin: 0 auto;
  max-width: 700px;
  padding: 25vh 8%;
  text-align: center;
}

/**
 * Small mobile device. 347 for forms.
 */
@media (max-width: 347px) {
  .textcard-inner {
    padding: 23vh 4%;
  }
}
