.header {
  width: 100%;
  background-color: #ffffff;
  display: block;
  position: fixed;
  z-index: 9001;
  height: 10vh;
}

.heading {
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: lowercase;
  vertical-align: middle;
  z-index: 8002;
}

.header-inner {
  margin: 0;
  padding: 3vh 5vw;
  vertical-align: middle;
  width: 100%;
}

/**
 *  All phones
 */
@media (max-width: 576px) {
  .heading {
    text-align: center;
  }

  .header-inner {
    padding: 3vh 0px;
    text-align: center;
  }
}

